#testimonial {
    margin-top: 100px;
    margin-bottom: 100px;
    width: 100%;
}

.cardsContainer {
    display: flex;
    justify-content: space-around;
    padding: 25px;
}

.card {
    border: 1px solid #c2c3c5;
    width: 30%;
    display: flex;
    padding: 25px;
    flex-direction: column;
    align-items: flex-start;
    height: auto;
    transition: 200ms;
}

.card:hover {
    box-shadow: 2px 2px 3px 3px #c2c3c5;
}


.card > h3 {
    font-size: 16px;
    color: #343D48;
    font-weight: 700;
    line-height: 1.6;
    letter-spacing: -.55px;
}

.card > p {
    font-size: 16px;
    color: #343D48;
}


.cardItem {
    display: block;
    margin-bottom: 25px;
}


.userCard {
    display: flex;
    width: 200px;
    justify-content: space-between;
    padding: 15px;
}

.userInfo {
    display: flex;
    flex-direction: column;
    padding: 5px;
    justify-content: space-between;
}

.userInfo > h4 {
    font-weight: 700;
    color: #343D48;
    letter-spacing: -.55px;
}

.userInfo > p {
    color: #EA3A60;
    font-weight: 500;
    font-size: 15px;
}

@media screen and (max-width: 768px) {
    .cardsContainer {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .card {
        margin-bottom: 50px;
        width: 90%;
        align-items: center;
    }
}

@media screen and (max-width: 315px) {
    .userCard {
        width: 100%;
        padding: 0px;
    }
    .userCard > img {
        width: 50px;
    }
    .userInfo {
    padding: 0px;
    }
}